@model IEnumerable<QuanLyQuanAo.Models.HOADON>


@if (Model != null)
{
	var i = 1;
	double tong = 0;
	foreach (var item in Model)
	{
		<tr>
			<td>@i</td>
			<td>@item.maHoaDon</td>
			<td>@item.ngayLapHoaDon</td>
			<td>@item.maNhanVien</td>
			<td>@item.thanhTien</td>
		</tr>
		i++;
		tong = tong + item.thanhTien;
	}
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>Tổng Tiền Hóa Đơn:</td>
		<td>@tong</td>
	</tr>
}
else
{
	//
}

