@model QuanLyQuanAo.Areas.WarehouseStaff.Models.WarehouseNhapXuat

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
	<div class="col-sm-9"><h2 class="head">Nhân Viên Kho</h2></div>
	<div class="col-sm-3">@RenderPage("~/Views/Shared/_Logout.cshtml")</div>
</div>




<div class="col-sm-12">
	<div class="col-sm-6">@Html.ActionLink("Home Warehouse", "Index", "Home", new { @area = "WarehouseStaff" }, new { @class = "btn btn-success btn-style" })</div>
	<div class="col-sm-6">
		<div class="col-sm-12 clear">
			<div class="col-sm-12 clear">
				<a class="btn btn-success btn-style" data-toggle="modal" data-target="#xuatkhoModal">XUẤT KHO</a>
				<div class="modal fade" id="xuatkhoModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<a class="close" data-dismiss="modal">&times;</a>
								<h4>XUẤT KHO</h4>
							</div>
							<div class="modal-body">

								<div class="row">
									<div class="col-sm-12">
										<form id="XuatHang">
											<div class="form-group">
												<div class="col-sm-4">@Html.Label("Tên Hàng:", new { @class = "label-style" })</div>
												<div class="col-sm-8">@Html.DropDownListFor(Modal => Model.Xuat.maHang, ViewBag.listSanPham as SelectList, new { @class = "form-control" })</div>
											</div>
											<div class="col-sm-12" style="height:10px;"></div>
											<div class="form-group">
												<div class="col-sm-4">@Html.Label("Số Lượng:", new { @class = "label-style" })</div>
												<div class="col-sm-8">@Html.TextBoxFor(Model => Model.Xuat.soLuong, new { @class = "form-control", @placeholder = "100 " })</div>
											</div>
										</form>
										<div class="col-sm-12" style="height:15px;"></div>
									</div>
								</div>
							</div>

							<div class="modal-footer">
								<a class="btn btn-default" onclick="cancelActionXuat()">Cancel</a>
								<a class="btn btn-success" onclick="submitXuatHang()">Submit</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12" style="height:50px;"></div>
</div>

<div class="col-sm-12" style="height:15px;"></div>

<div class="col-sm-12">
	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-sm-2">Mã Đơn Hàng</th>
							<th class="col-sm-2">Tên Khách Hàng</th>
							<th class="col-sm-2">SĐT KHÁCH HÀNG</th>
							<th class="col-sm-2">Địa Chỉ</th>
							<th class="col-sm-2">Tên Hàng Hóa</th>
							<th class="col-sm-2">Số Lượng</th>

						</tr>
					</thead>
					<tbody id="HoaDonRow">

						@foreach (var item in ViewBag.getListXuatKho)
						{


							<tr>
								<td>@item.MaDH</td>
								<td>@item.tenKH</td>
								<td>@item.SDT
								<td>@item.DiaChi</td>
								<td>@item.TenHangHoa</td>
								<td>@item.Sluong</td>
								<td><a class="btn btn-success" onclick="submitDone(@item.MaDH)"><i class="glyphicon glyphicon-ok"></i></a></td>
							</tr>

						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script>
	var submitDone = function (MaDonHang) {
		$.ajax({
			type: "Post",
			url: "/WarehouseStaff/XuatKho/DonePayment",
			data: { MaDHang: MaDonHang },
			success: function (check) {
				if (check == "true") {
					window.location.reload(true);
				}
				else {
					alert("False");
				}
			}
		})
	}

	var cancelActionXuat = function () {
		$("#tenHang").val("");
		$("#maHang").val("");
		$("#soLuong").val("");
		$("#xuatkhoModal").modal("hide");
	}


	var submitXuatHang = function () {
		var data = $("#XuatHang").serialize();
		if (!$("#XuatHang").valid()) {
			return false;
		}
		$.ajax({
			type: "POST",
			url: "/WarehouseStaff/Home/XuatKho",
			data: data,
			success: function (check) {
				if (check == "true") {
					$("#xuatkhoModal").modal("hide");
					$("#Xuat_soLuong").val("");
					alert("Success");
					window.location.reload();
				}
				else
					alert("Failed");
			}
		})
	}


</script>