@model QuanLyQuanAo.Areas.Accountant.Models.AccountantInHoaDon
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
	<div class="col-sm-9"><h2 class="head">Nhân Viên Kế Toán</h2></div>
	<div class="col-sm-3">@RenderPage("~/Views/Shared/_Logout.cshtml")</div>
</div>


<div class="col-sm-3">
	<div class="col-sm-12">
		<div>@Html.ActionLink("Home Accountant", "Index", "Home", new { @area = "Accountant" }, new { @class = "btn btn-success btn-style" })</div>
	</div>
</div>



<div class="col-sm-12" style="height:50px;"></div>

<div class="col-sm-12">
	<div class="panel-group">
		<div class="panel panel-primary">
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-sm-2">Mã PMH</th>
							<th class="col-sm-2">Tên Khách Hàng</th>
							<th class="col-sm-2">SĐT KHÁCH HÀNG</th>
							<th class="col-sm-2">Địa Chỉ</th>
							<th class="col-sm-2">Mã NV LẬP HĐ</th>
							<th class="col-sm-2">Mã Đơn Hàng</th>
						</tr>
					</thead>
					<tbody id="HoaDonRow">

						@foreach (var item in ViewBag.getListPhieuMuaHang)
						{
							if (@item.statusID == 1)
							{
								<tr>
									<td>@item.DatHangID</td>
									<td>@item.TenKhachHang</td>
									<td>@item.SoDienThoai  <input type="hidden" id="GetPhone" value="@item.SoDienThoai"/></td>
									<td>@item.DiaChi</td>
									<td>@item.MaNhanVien</td>
									<td>@item.MaDonHang</td>
									<td><a class="btn btn-danger" onclick="submitCancel(@item.MaDonHang)"><i class="glyphicon glyphicon-remove"> </i></a></td>
									<td><a class="btn btn-success" onclick="submitDone(@item.MaDonHang,@Session["manv"])"><i class="glyphicon glyphicon-ok"></i></a></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>

			<div class="panel panel-body">

			</div>

		</div>
	</div>
</div>
<div></div>

<script>
	var submitDone = function (MaDonHang, manv) {
		var phone = $("#GetPhone").val();
		$.ajax({
			type: "Post",
			url: "/Accountant/InHoaDon/DonePayment",
			data: { MaDHang: MaDonHang, MaNV: manv, SDT: phone },
			success: function (check) {
				if (check == "true") {
					window.location.reload(true);
				}
				else {
					alert("False");
				}
			}
		})
	}
	var submitCancel = function (MaDonHang) {
		$.ajax({
			type: "Post",
			url: "/Accountant/InHoaDon/CancelPayment",
			data: { MaDHang: MaDonHang },
			success: function (check) {
				if (check == "true") {
					window.location.reload(true);
				}
				else {
					alert("False");
				}
			}
		})
	}
</script>